/* Mobile and Tablet */

@media (max-width: 992px) {
  .navbar-header {
    float: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  /* since 3.1.0 */

  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .collapsing {
    overflow: hidden !important;
  }

  .navbar {
    background: #F8F8F8;
    border: none;
    margin-bottom: 0;
  }

  .navbar .container {
    width: 100%;
  }

  .navbar-header {
    height: 75px;
  }

  .navbar-header .navbar-toggle {
    right: 0;
    border: none;
    background: transparent !important;
    margin-top: 18px;
  }

  .navbar-header .navbar-toggle:hover {
    background: transparent !important;
  }

  .navbar-header .navbar-toggle .icon-bar {
    width: 22px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  .navbar-header .navbar-toggle .top-bar {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
            transform-origin: 10% 10%;
  }

  .navbar-header .navbar-toggle .middle-bar {
    opacity: 0;
  }

  .navbar-header .navbar-toggle .bottom-bar {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
            transform-origin: 10% 90%;
  }

  .navbar-header .navbar-toggle.collapsed .top-bar {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  .navbar-header .navbar-toggle.collapsed .middle-bar {
    opacity: 1;
  }

  .navbar-header .navbar-toggle.collapsed .bottom-bar {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  .navbar-brand {
    padding: 12px 0 0;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -100px !important;
    /* 50% of your logo width */
    display: block;
    z-index: 9999;
  }

  .navbar-brand img {
    width: 200px;
  }

  .navbar-nav li a {
    color: #707070 !important;
    font-size: 14px;
  }

  .navbar-nav li a:hover {
    background: #ebebeb !important;
    color: #BC7A84 !important;
  }
}

/* laptop */

@media (min-width: 993px) {
  .navbar {
    border: none;
    margin-bottom: 0;
  }

  .navbar-brand {
    padding: 10px 0 0;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -152.5px !important;
    /* 50% of your logo width */
    display: block;
    z-index: 9999;
  }

  .navbar-brand img {
    width: 305px;
  }

  .navbar-nav li a {
    color: #707070 !important;
    font-size: 14px;
  }

  .navbar-nav li a:hover {
    color: #BC7A84 !important;
  }

  .navbar-right li a {
    padding: 40px 0 40px 50px;
  }

  .navbar-left li a {
    padding: 40px 50px 40px 0;
  }
}

/* Desktop */

@media (min-width: 1200px) {
  .navbar-brand {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -152.5px !important;
    /* 50% of your logo width */
    display: block;
    z-index: 9999;
  }

  .navbar-brand img {
    width: 305px;
  }

  .navbar-right li a {
    padding: 40px 0 40px 90px;
  }

  .navbar-left li a {
    padding: 40px 90px 40px 0;
  }
}

.contact-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.contact-us-button {
  position: relative;
  display: block;
  width: 200px;
  height: 50px;
  text-decoration: none;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: none;
  color: #000f4a;
  border: 3px solid #000f4a;
  border-radius: 50px;
  overflow: hidden;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  transform-origins: 0% 0%;
}

.contact-us-button span {
  position: absolute;
}

.contact-us-button span:first-child {
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
}

.contact-us-button span.icon {
  bottom: -100px;
}

.contact-us-button span.icon .fa-envelope-o {
  font-size: 2em;
}

.contact-us-button:hover {
  background: #000f4a;
  width: 60px;
  border-radius: 50%;
}

.contact-us-button:hover .icon {
  color: #fff;
  -webkit-transform: translate(-16px, -110px);
          transform: translate(-16px, -110px);
}

