
// Body
$body-bg: #fff;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #000f4a;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;


// Navbar
$navbar-default-bg: #F8F8F8;
// general variables
$nav_bg: #F8F8F8;
$logo_width_sm: 110px;
$logo_width_md: 195px;
$mobile_nav_height: 85px;

$link_padding_md_left: 40px 0 40px 50px;
$link_padding_md_right: 40px 50px 40px 0;
$link_padding_lg_left: 40px 0 40px 90px;
$link_padding_lg_right: 40px 90px 40px 0;

// text colors;
$text_black: #707070;
$text_hover: #BC7A84;
$grey-light: #929191;
$grey: #777676;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;
